$font-family: Georgia, sans-serif;
$font-size: 16px;
$line-height: 1.5em;

$black: #000;
$pink: #ec576b;
$aqua: #4ec5c1;
$lime: #e5e338;
$crimson-sky: #cf6766;
$indigo: #30415d;
$violet: #6e3667;
$electric-lime: #88d317;
$butter: #fedc3d;
$azure: #01abaa;
$bright-coral: #f53240;
$aquamarine: #02c8a7;