<div class="center-wrapper bot-settings">
  <div class="logo-wrapper">
    <div class="logo-detailed">
      <img src="{{model.logo}}" width="200" height="200" alt={{t 'bot.settings.logo'}}>
    </div>
  </div>

  <h1 class="bot-name">
    {{model.name}}
  </h1>



  {{outlet}}
</div>