& {
  margin: 0 1% 3rem;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;

  @include sm() {
    flex-basis: 40%;
  }

  @include md() {
    flex-basis: 25%;
  }

  .title,
  .subtitle {
    letter-spacing: -0.01rem;
    line-height: 1.5;
  }

  .title {
    margin: 0 0 1.5rem;
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1rem;
    margin: 0;
  }
}
