@function highlight($colour) {
  @return adjust-hue($colour, 180deg);
}

$colours_list: (aqua, green, blue, gray, red);
$sizes_list: (12, 18, 14, 8, 16);

.break {
  width: 100%;
}

.board {
  display: flex;
  align-items: center;
  height: 18rem;

  .center-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  @for $i from 1 through 5 {
    .span#{$i} {
      $colour: map-get($colours, nth($colours_list, $i));
      line-height: 0.8em;
      height: 0.8em;
      // background-color: $colour;
      // text-transform: uppercase;
      text-align: center;

      font-size: random(70) + 20 + pt;
      font-size: nth($sizes_list, $i) + vw;

      @include md() {
        font-size: nth($sizes_list, $i) - 3 + rem;
      }

      // &:hover {
      //   background-color: highlight($colour);
      // }
    }
  }

  @include sm() {
    height: 24rem;
  }

  @include md() {
    height: 30rem;
  }
}
