html, body {
  padding: 0;
  margin: 0;
}

html, .root {
  font-size: $font-size;
  line-height: $line-height;
}
// TODO: fix preload
body {
  font-family: $font-family-preload;
  font-family: $font-family;
  font-size: 1rem;
  line-height: 1.5rem;
  color: map-get($colours, black);
}

.wf-active body {
  font-family: $font-family;
}

h1, .h1 {
  font-size: 4.25rem;
  line-height: 4.5rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
h2, .h2 {
  font-size: 2.625rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
h3, .h3 {
  font-size: 1.625rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}
h4, .h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}
h5, .h5 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

// =============================================================================

a {
  color: map-get($colours, blue);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  &:visited {
    color: adjust-hue(map-get($colours, blue), -10deg);
  }

  &.attention-link {
    color: map-get($colours, red);
  }
}

// ===================================================================== Helpers

.hidden {
  font-size: 0.01px;
  color: transparent;
  height: 0.1px;
  width: 0.1px;
  margin: 0;
  padding: 0;
  display: block;
  overflow: hidden;
}

// ======================================================================= Block

.block {
  margin: 0 0 3em;
}

// ==================================================================== Features

.features {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem;
  justify-content: space-around;
}

// ==================================================================== Bot list

.bots-list {
  .list {
    padding: 0;
    margin: 0;
  }
}