.bots-list {
  .list {
    padding: 0;
    margin: 0;
  }
}

.bot-list-item {
  display: flex;
  align-items: center;
  margin: 0 0 0.5rem;

  .bot-details-link {
    text-decoration: none;
  }

  .logo-wrapper {
    margin-right: 1em;
    overflow: hidden;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: map-get($colours, gray);

    img {
      vertical-align: bottom;
    }
  }

  .name {
    margin-right: auto;
  }

  label {
    margin: 0;

    svg {
      display: block;
    }
  }

  &:hover {
    .logo {
      box-shadow: 0 0 0 3px map-get($colours, olive);
    }
  }
}

.social-networks-connected {
  display: flex;

  & > div{
    margin: 0 5px;
  }
}
