<div class="center-wrapper">

  <div class="span1">the</div>
  <div class="span2">power</div>
  <div class="break"></div>
  <div class="span3">of</div>
  <div class="span4">a</div>
  <div class="span5">word</div>

  {{yield}}

</div>