<nav class="navigation">
  <ul class="menu">
    <li class="signup">
      {{link-to (t 'sign_up') "register"}}
    </li>
    <li class="signin">
      {{link-to (t 'sign_in') "login"}}
    </li>
  </ul>
</nav>