<nav class="navigation">
  <ul class="menu">
    <li class="signup">
      {{#link-to "register"}}
        Sign up
      {{/link-to}}
    </li>
    <li class="signin">
      {{#link-to "login"}}
        Sign in
      {{/link-to}}
    </li>
  </ul>
</nav>